<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find car_description)/urdf/car/inertia.urdf.xacro"/>

  <!-- caster_xacro是前后支撑万向轮，用于模型显示和碰撞体完整性 -->
  <xacro:macro name="caster_xacro" params="caster_name xyz caster_mass">
    <link name="${caster_name}_caster_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.016"/>
        </geometry>
        <material name="${caster_name}_caster_black">
          <color rgba="0.02 0.02 0.02 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.016"/>
        </geometry>
      </collision>
      <xacro:sphere_inertia m="${caster_mass}" r="0.016"/>
    </link>

    <joint name="${caster_name}_caster_joint" type="fixed">
      <!-- 万向轮没有独立状态，固定到base_link上 -->
      <parent link="base_link"/>
      <child link="${caster_name}_caster_link"/>
      <origin xyz="${xyz}" rpy="0 0 0"/>
      <axis xyz="0.0 0.0 0.0"/>
    </joint>
  </xacro:macro>
</robot>